$def with(data)


<!DOCTYPE html>
<html lang="es">
    <head>
        <title>
            Tabla
        </title>
    </head>
    <body>
        <h1>
            Tabla
        </h1>
        <table>
            <thead>
                <th>No.</th>
                <th>Nombre</th>
            </thead>
            <tbody>
                $for i in data:
                    <tr>
                        <td>
                            $i[0]
                        </td>
                        <td>
                            $i[1]

                        </td>
                    </tr>

            </tbody>
        </table>


       
    </body>